cssCopy code/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body{
    background: rgb(246,248,252);
    

}

.main-ui{
    width: 18vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(255,255,255);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 30px;
}
.menu-top {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    opacity: 0.2;
}

.menu-top h4 {
    margin: 0; 
    flex-grow: 1; 
    text-align: center;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin-top: 8px;
  
}
.song-name{

    width: 89%;
    height: 280px;
    margin: 0 auto;
    text-align: center;
}
.song-name-1{
    text-align: center;
    width: 100%;
    font-size: 18.8px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fas.fa-bars-staggered,.fa-regular.fa-square-plus{
    font-size: 20px;
}

figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:100%;
    height: 200px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    border: 1.5px solid black;
    opacity: 0.1;
    margin-top: 25px;
}
.on-off{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.3;
    font-size: 20px;
    align-items: center;
      
}
.fa-regular.fa-circle-play {
    font-size: 40px;
}


.play-time-1,.play-time-2,.play-time-3,.play-time-4{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    font-weight: 200;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.play-time-0{
    display: flex;
    justify-content: space-between;
}

.play-time-0,.play-time-1,.play-time-3,.play-time-4{
    opacity: 0.5;
}
.play-time-2 span{
   color:rgb(73,189,180);
   font-weight: bold;
}

@media screen and (max-width: 375px) {
    .main-ui {
      width: 90vw;
      padding: 20px;
    }
  
    .menu-top h4 {
      font-size: 12px;
    }
  
    .song-name-1 {
      font-size: 16px;
    }
  
    .fas.fa-bars-staggered,
    .fa-regular.fa-square-plus {
      font-size: 16px;
    }
  
    .fa-regular.fa-circle-play {
      font-size: 30px;
    }
  
    .play-time-1,
    .play-time-2,
    .play-time-3,
    .play-time-4 {
      margin-top: 20px;
    }
  
    hr {
      margin-top: 20px;
    }
  
    .on-off {
      font-size: 16px;
    }
  }